* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

#container-id {
  max-width: 700px;
  margin: 0 auto;
  border-top: 5px tomato solid;
  border-bottom: 5px tomato solid;
  font-size: 1.8rem;
}

header {
  margin-bottom: 36px;
}

header > nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: right;
}

header ul li {
  padding: 16px;
  font-size: 16px;
}

header ul li:hover {
  background-color: rgb(174, 238, 174);
}

ul li a {
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 36px;
}

aside ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

section article {
  padding: 16px;
  margin-bottom: 24px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

h3 {
  color: #ff45ff;
  margin-bottom: 16px;
}

footer {
  text-align: center;
  font-size: 2.4rem;
}

/* a[href="http://www.google.com"]
{
  margin: 24px;
  color: #ff45ff;
  background-color: #222;
  font-size: 1.4rem;
} */

.list-container li:last-child {
  background-color: goldenrod;
}

/* p::first-letter {
  font-size: 2.2rem; /* 10 * 2 = 20px 
  color: tomato;
} */

img {
  max-width: 50%;
}

/* @media screen and (max-width: 950px) {
  .container {
    background-color: rgb(231, 147, 147);
  }
}

@media screen and (max-width: 678px) {
  .container {
    background-color: rgb(183, 243, 183);
  }
}

@media screen and (max-width: 450px) {
  .container {
    background-color: rgb(184, 184, 241);
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
  header > nav > ul {
    flex-direction: column;
  }
} */

/* a[href$="in"] {
  font-size: 2rem;
} */

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}

button {
  padding: 12px 24px;
  border: none;
  background-color: rgb(229, 247, 229);
  color: rgb(2, 73, 2);
  margin-bottom: 16px;
}
button:hover {
  background-color: rgb(115, 245, 115);
  cursor: pointer;
}

table {
  width: 100%;
}
